<html xmlns="http://thymeleaf.org">

<head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link>
<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"></link>
<style>
th, td {
	padding: 15px;
	white-space: nowrap;
}
body {
	background-image: url(images/background_texture.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(227, 228, 232);
}
</style>
<title>Linear Feed Timeline</title>
<script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
	        //the list converts as a javascript object
	        var latlongMappings = /*[[${latlongMappings}]]*/;
	        var restrictedDevices = /*[[${restrictedDevices}]]*/;
	        var feedJsonArray = [[${feedJsonArray}]];
	       // alert(feedJsonArray[0].date + " "+ feedJsonArray[0].feedData);
        /*]]>*/
        
    //Populate the drop down with all the feed names
	function processFeedSelection() {
        redrawTimeLine();
    }
        
    function processDateSelection() {
    	redrawTimeLine();
    }
    
    function redrawTimeLine(){
        var feedSelectField = document.getElementById("feed_id");
        var bulletinDateField = document.getElementById("bulletin_date");
    	var selectedFeedValue = feedSelectField.value;
    	var selectedDateValue = bulletinDateField.value;
    	var dateArray = selectedDateValue.split('-');
    	var dateToCompare = dateArray[1] + '/' + dateArray[2] + '/' + dateArray[0];
    	//Get the corresponding data from the feedJsonArray
    	var feedDataRow = null
    	if(feedJsonArray){
        	var feedDataLength = feedJsonArray.length;
        	for (var i = 0; i < feedDataLength; i++) {
        	    feedDataRow = feedJsonArray[i];
        	    if(feedDataRow.name == selectedFeedValue && dateToCompare == feedDataRow.date){
        	    	break
        	    }
        	}
        }
    	//Call the methods that draw the charts with the feed data.
    	drawChart(feedDataRow);
    }
    
    function loadFeedAndDateFields(){
        var feedSelectField = document.getElementById("feed_id");
        var bulletinDateField = document.getElementById("bulletin_date");
        var mySet = new Set();
        var firstFeedName = null;
        var firstFeedDataDate = null;
        if(feedJsonArray){
        	var feedDataLength = feedJsonArray.length;
        	for (var i = 0; i < feedDataLength; i++) {
        	    var feedDataRow = feedJsonArray[i];
        	    mySet.add(feedDataRow.feedName);
        	    if(firstFeedName == null){
        	    	firstFeedName = feedDataRow.feedName;
        	    	firstFeedDataDate = feedDataRow.date;
        	    }
        	}
        } else {
        	return;
        }
        var uniqueFeeds = Array.from(mySet);
        var feedNamesSetSize = uniqueFeeds.length;
        if(feedNamesSetSize && feedNamesSetSize > 0){
	    	for (var i = 0; i < feedNamesSetSize; i++) {
	            var opt = document.createElement('option');
	            opt.value = uniqueFeeds[i];
	            opt.innerHTML = uniqueFeeds[i];
	            feedSelectField.appendChild(opt);
	    	}
        }
        if(firstFeedName != null){
        	feedSelectField.value = firstFeedName;
        	var dateArray = firstFeedDataDate.split('/');
        	bulletinDateField.value = dateArray[2] + '-' + dateArray[0] + '-' + dateArray[1];
        }
        
        redrawTimeLine();
    }
        
</script>

<!--Load the AJAX API-->
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

  //Load the Visualization API and the timeline package.
  google.charts.load("current", {packages:["timeline"]});
  
  //Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);
  
  // Callback that creates and populates a data table, instantiates the timeline chart, passes in the data and
  // draws it.
  function drawChart(feedDataRow) {

    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn({ type: 'string', id: 'Position' });
    dataTable.addColumn({ type: 'string', id: 'Name' });
    dataTable.addColumn({ type: 'string', role: 'tooltip' });
    dataTable.addColumn({ type: 'string', role: 'windowStartTime' });
    dataTable.addColumn({ type: 'string', role: 'windowEndTime' });    
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });
    dataTable.addColumn({ type: 'string', role: 'status' });
    var arr= [
        [ 'Alternate Content', '/disney.com/media/presidentialDebateLive', createCustomHTMLContentProg1(), null, null, new Date(0, 0, 0, 0, 30, 0), new Date(0, 0, 0, 1, 30, 0) , 'CONFIRMED'],
        [ 'Alternate Content', '/disney.com/media/democraticNationalConventionLive', createCustomHTMLContentProg2(),null, null, new Date(0, 0, 0, 2, 30, 0), new Date(0, 0, 0, 3, 30, 0), 'COMPLETE' ],
        [ 'Alternate Content', '/disney.com/media/meetThePressLive', createCustomHTMLContentProg3(), null, null, new Date(0, 0, 0, 4, 30, 0), new Date(0, 0, 0, 5, 30, 0), 'CONFIRMED' ]
        //[ 'Ad Breaks in Zone 1', null, 'Confirmed', new Date(0, 0, 0, 0, 0, 0), new Date(0, 0, 0, 0, 30, 0) ],
      ];
    
    //arr.push( [ 'Ad Breaks in Zone 2', null, 'Confirmed', new Date(2020,12,16,00,00,00), new Date(2020,12,16,00,00,30) ]);
        
    var zoneBreakDataLocal = feedDataRow.feedData.zonedBreakData;
    for (i = 0; i < zoneBreakDataLocal.length; i++) {
    	var zoneLocal = zoneBreakDataLocal[i].zoneId;
    	var zoneBreakDataItr = zoneBreakDataLocal[i].breakData;
    	 for (j = 0; j < zoneBreakDataItr.length; j++) {    		 
    		 var startHourMinutSecArr = zoneBreakDataItr[j].windowStartTime.split(" ")[1].split(":");
    		 var endHourMinutSecArr = zoneBreakDataItr[j].windowEndTime.split(" ")[1].split(":");    			
    			arr.push([ 'CCMS AdZone('+zoneLocal+")" , zoneBreakDataItr[j].spotId, createCustomHTMLContentProg1WithArg(zoneBreakDataItr[j].windowStartTime, zoneBreakDataItr[j].windowEndTime,zoneBreakDataItr[j].breakStatus), zoneBreakDataItr[j].windowStartTime, zoneBreakDataItr[j].windowEndTime, new Date(0, 0, 0, startHourMinutSecArr[0], startHourMinutSecArr[1],startHourMinutSecArr[2]), new Date(0, 0, 0, endHourMinutSecArr[0], endHourMinutSecArr[1],endHourMinutSecArr[2]), zoneBreakDataItr[j].breakStatus ]);
    	 }
	} 
    dataTable.addRows(arr);

	// Set chart options
    var options = {
 				  title:'Linear Feed "Disney" Timeline for 12/08/2020.',
		    	      timeline: { colorByRowLabel: true },
		    	      backgroundColor: '#ffd',
		    	      // This line makes the entire category's tooltip active.
		    	      focusTarget: 'category',
		    	      // Use an HTML tooltip.
   	    	      	  tooltip: { isHtml: true },
  	    	      };
	
    // Instantiate and draw our chart, passing in some options.
	var container = document.getElementById('chart_div');
    var chart = new google.visualization.Timeline(container);
    chart.draw(dataTable, options);
 	// Add our selection handler.
    google.visualization.events.addListener(chart, 'select', function() {
    	selectHandler(chart, dataTable);
    });
  }
  
  function selectHandler(chart, dataTable) {
	var onClickHTMLAltConId="<b>Altcon ID: </b>" + dataTable.getValue(chart.getSelection()[0].row, 1);
	
	var ccmsAdZone=	dataTable.getValue(chart.getSelection()[0].row, 0);
	if(ccmsAdZone.indexOf("CCMS")!=-1){
		var spotId = dataTable.getValue(chart.getSelection()[0].row, 1);
		var status =	dataTable.getValue(chart.getSelection()[0].row, 2);
		var windowStartTime=	dataTable.getValue(chart.getSelection()[0].row, 3);;
		var windowEndTime=	dataTable.getValue(chart.getSelection()[0].row, 4);
		var status=	dataTable.getValue(chart.getSelection()[0].row, 7);
		
		var divShowData = document.getElementById('streamConditioningData');
		divShowData.innerHTML = "";
		// the json data.
   		var feedDetails = [
           {'Schedule Type': 'CCMS', 'Spot ID': spotId, 'Window Start': windowStartTime,
               'Window End': windowEndTime, 'Status': status
           }           
       ]
		
   		document.getElementById('altConId').innerHTML="";
		document.getElementById('restrictedDevices').innerHTML="";
		document.getElementById('restrictedZips').innerHTML="";
		
		divShowData.appendChild(tableFromJson(feedDetails));
   		var chart = document.getElementById('restrictedZipsGeoChart');
   		chart.style.display = "none";

	}else{//Blackout
		var onClickHTMLRestrictedDevices="<b>Restricted Devices: </b>";
		var i;
		for (i = 0; i < restrictedDevices.length; i++) {
			onClickHTMLRestrictedDevices += "<img src='images/" + restrictedDevices[i] + ".png' width='50' height='50' title='" + restrictedDevices[i] + "'>";
		}
		var onClickHTMLRestrictedZips="<b>Restricted Zips: </b>";
		for (i = 1; i < latlongMappings.length; i++) {
			onClickHTMLRestrictedZips += latlongMappings[i][2];
			if(i!=latlongMappings.length-1){
				onClickHTMLRestrictedZips +=", ";
			}
		}
		/* var onClickHTMLStreamConditioningData="<b><u>Stream Conditioning Details: </u></b><br/>";
		onClickHTMLStreamConditioningData += "<table id='gable' border='1' width='100%'>";
		onClickHTMLStreamConditioningData += "<tr><th>COUNTRY</th><th>LoC</th><th>BALANCE</th><th>DATE</th></tr>"; */
		//onClickHTMLStreamConditioningData += "<tr><th>Stream Id</th><th>Event Started</th><th>Event Completed</th></tr>";
		//onClickHTMLStreamConditioningData += "<tr><td></td><td></td><td></td></tr>";
		//onClickHTMLStreamConditioningData += "</table>";
		document.getElementById('altConId').innerHTML=onClickHTMLAltConId;
		document.getElementById('restrictedDevices').innerHTML=onClickHTMLRestrictedDevices;
		document.getElementById('restrictedZips').innerHTML=onClickHTMLRestrictedZips;
		//document.getElementById('streamConditioningData').innerHTML=onClickHTMLStreamConditioningData;
		
		
			// the json data.
   		var feedDetails = [
           {'Acquistion Point ID': '1', 'Event ID': 'Presidential Debate Live', 'Event Start': '2020-12-08',
               'Event End': '2020-12-08', 'Status': 'CONFIRMED', 'Signal Time': '2020-12-08-12:30:00'
           },
           
           {'Acquistion Point ID': '2', 'Event ID': 'Democratic National Convention Live', 'Event Start': '2020-12-08',
               'Event End': '2020-12-08', 'Status': 'CONFIRMED', 'Signal Time': '2020-12-08-14:30:00'
           },
           
           {'Acquistion Point ID': '3', 'Event ID': 'Meet the Press Live', 'Event Start': '2020-12-08',
               'Event End': '2020-12-08', 'Status': 'CONFIRMED', 'Signal Time': '2020-12-08-16:30:00'
           },
           {'Acquistion Point ID': '4', 'Event ID': 'Vice Presidential Debate Live', 'Event Start': '2020-12-08',
               'Event End': '2020-12-08', 'Status': 'CANCELED', 'Signal Time': '2020-12-08-18:30:00'
           }
       ]
	    var divShowData = document.getElementById('streamConditioningData');
	    divShowData.innerHTML = "";
	    divShowData.appendChild(tableFromJson(feedDetails));
	    var chart = document.getElementById('restrictedZipsGeoChart');
   		chart.style.display = "block";
	}

    google.charts.load('current', {
	    'packages': ['geochart'],
	    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
	 });
	 google.charts.setOnLoadCallback(drawMarkersMap);
  }
  
  function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable(latlongMappings);

      var options = {
        region: 'US',
        displayMode: 'Markers',
		resolution: 'metros',
		enableRegionInteractivity: true,
        colorAxis: {colors: ['green', 'blue']},
        backgroundColor: '#81d4fa',
        datalessRegionColor: '#ffffff',
		tooltip: {textStyle: {color: '#FF0000'}, showColorCode: true}
      };

      var chart = new google.visualization.GeoChart(document.getElementById('restrictedZipsGeoChart'));
      chart.draw(data, options);
    };
  
    function createCustomHTMLContentProg1WithArg(startTime, stopTime, status) {
    	  return '<div style="white-space: nowrap;">' +
          			'<div><b>Window Start Time:</b> '+startTime+'</div>' + 
          			'<div><b>Window End Time   :</b> '+stopTime+'</div>' + 
          			'<div><b>Status        :</b> '+status+'</div>' + 
    	      	'</div>';
      }
  function createCustomHTMLContentProg1() {
	  return '<div style="white-space: nowrap;">' +
      			'<div><b>Effective Time:</b> 12/08/2020 00:30 PT</div>' + 
      			'<div><b>Expire Time   :</b> 12/08/2020 01:30 PT</div>' + 
      			'<div><b>Status        :</b> Completed</div>' + 
	      	'</div>';
  }
  
  function createCustomHTMLContentProg2() {
	  return '<div style="white-space: nowrap;">' +
      			'<div><b>Effective Time:</b> 12/08/2020 02:30 PT</div>' + 
      			'<div><b>Expire Time   :</b> 12/08/2020 03:30 PT</div>' + 
      			'<div><b>Status        :</b> Completed</div>' + 
	      	'</div>';
  }
  
  function createCustomHTMLContentProg3() {
	  return '<div style="white-space: nowrap;">' +
      			'<div><b>Effective Time:</b> 12/08/2020 04:30 PT</div>' + 
      			'<div><b>Expire Time   :</b> 12/08/2020 05:30 PT</div>' + 
      			'<div><b>Status        :</b> Completed</div>' + 
	      	'</div>';
  }
  
  // my testing
 function tableFromJson(feedDetails) {
	  // Extract value from table header. 
      // ('Acquistion Point ID', 'Event ID', 'Category' and 'Price')
      var col = [];
      for (var i = 0; i < feedDetails.length; i++) {
          for (var key in feedDetails[i]) {
              if (col.indexOf(key) === -1) {
                  col.push(key);
              }
          }
      }

      // Create a table.
      var table = document.createElement("table");
      table.setAttribute("border", "2");

      // Create table header row using the extracted headers above.
      var tr = table.insertRow(-1);                   // table row.

      for (var i = 0; i < col.length; i++) {
          var th = document.createElement("th");      // table header.
          th.innerHTML = col[i];
          tr.appendChild(th);
      }

      // add json data to the table as rows.
      for (var i = 0; i < feedDetails.length; i++) {

          tr = table.insertRow(-1);

          for (var j = 0; j < col.length; j++) {
              var tabCell = tr.insertCell(-1);
              tabCell.innerHTML = feedDetails[i][col[j]];
          }
      }
	return table;     
   }
</script>
</head>

<body onload="loadFeedAndDateFields()">
	<!--  Logo and Title -->
	<div id="header"
		style="background-color: black; color: white; padding: 20px; padding-top:10px; padding-bottom: 10px;">
		<img src="images/CadentLogo1.svg" />
	</div>

	<div id="title"
		style="background-image: linear-gradient(black, darkgray);; color: white; font-weight: bold;; font-size: 24px; padding: 20px; padding-top:10px; padding-bottom: 10px;">Alternate
		Contents & Ad Breaks</div>

	<div id="content" style="margin: auto;padding: 20px; background-color: white;width: 96%; height: 100%;">
	<!--Div that will hold the pie chart-->
	<div id="filters">
		<table width="50%">
			<tr>
				<th>Feed: <select name="feed_id" id="feed_id"
					onchange="processFeedSelection()">
						<option value="-select-">-Select-</option>
				</select>
				</th>
				<th style="align-content: left">Date: <input type="date"
					id="bulletin_date" name="bulletin_date"
					onchange="processDateSelection()" />
				</th>
			</tr>
		</table>
	</div>
	<div id="chart_div"></div> 
	

	<table width="100%">
		<tr>
			<td width="30%" valign="top">
				<table>
					<tr>
						<td align="left">
							<div id="altConId"></div>
						<td>
					</tr>
					<tr>
						<td align="left">
							<div id="restrictedDevices"></div>
						<td>
					</tr>
					<tr>
						<td align="left">
							<div id="restrictedZips"></div>
						</td>
					</tr>
					<tr>
						<td align="left">
							<div id="streamConditioningData"></div>
						</td>
					</tr>
				</table>
			</td>
			<td width="70%">
				<table width="95%">
					<tr>
						<td rowspan="4">
							<div id="restrictedZipsGeoChart"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>
