<html xmlns="http://thymeleaf.org">

<head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link>
<link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"></link>
<style>
th, td {
	padding: 15px;
	white-space: nowrap;
}
body {
	background-image: url(images/background_texture.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(227, 228, 232);
}

#legend_div {
  text-align: center;
}

.legend-marker {
  display: inline-block;
  padding: 16px 4px 8px 4px;
}

.legend-marker-color {
  display: inline-block;
  height: 12px;
  width: 12px;
}
</style>
<title>Linear Feed Timeline</title>
<script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
	        var feedJsonArray = /*[[${feedJsonArray}]]*/;
        /*]]>*/
        
    //Populate the drop down with all the feed names
	function processFeedSelection() {
        redrawTimeLine();
    }
        
    function processDateSelection() {
    	redrawTimeLine();
    }
    
    function redrawTimeLine(){
        var feedSelectField = document.getElementById("feed_id");
        var bulletinDateField = document.getElementById("bulletin_date");
    	var selectedFeedValue = feedSelectField.value;
    	var selectedDateValue = bulletinDateField.value;
    	var dateArray = selectedDateValue.split('-');
    	var dateToCompare = dateArray[1] + '/' + dateArray[2] + '/' + dateArray[0];
    	//Get the corresponding data from the feedJsonArray
    	var feedDataRow = null
    	if(feedJsonArray){
        	var feedDataLength = feedJsonArray.length;
        	for (var i = 0; i < feedDataLength; i++) {
        	    feedDataRow = feedJsonArray[i];
        	    if(feedDataRow.feedName == selectedFeedValue && dateToCompare == feedDataRow.date){
        	    	break
        	    }
        	}
        }
    	//Call the methods that draw the charts with the feed data.
    	drawTimeLineChart(feedDataRow);
    }
    
    function loadFeedAndDateFields(){
        var feedSelectField = document.getElementById("feed_id");
        var bulletinDateField = document.getElementById("bulletin_date");
        var mySet = new Set();
        var firstFeedName = null;
        var firstFeedDataDate = null;
        if(feedJsonArray){
        	var feedDataLength = feedJsonArray.length;
        	for (var i = 0; i < feedDataLength; i++) {
        	    var feedDataRow = feedJsonArray[i];
        	    mySet.add(feedDataRow.feedName);
        	    if(firstFeedName == null){
        	    	firstFeedName = feedDataRow.feedName;
        	    	firstFeedDataDate = feedDataRow.date;
        	    }
        	}
        } else {
        	return;
        }
        var uniqueFeeds = Array.from(mySet);
        var feedNamesSetSize = uniqueFeeds.length;
        if(feedNamesSetSize && feedNamesSetSize > 0){
	    	for (var i = 0; i < feedNamesSetSize; i++) {
	            var opt = document.createElement('option');
	            opt.value = uniqueFeeds[i];
	            opt.innerHTML = uniqueFeeds[i];
	            feedSelectField.appendChild(opt);
	    	}
        }
        if(firstFeedName != null){
        	feedSelectField.value = firstFeedName;
        	var dateArray = firstFeedDataDate.split('/');
        	bulletinDateField.value = dateArray[2] + '-' + dateArray[0] + '-' + dateArray[1];
        }
        
        redrawTimeLine();
    }
        
</script>

<!--Load the AJAX API-->
<script type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

	google.load('visualization', '1', {packages: ['controls', 'charteditor']});

	function drawTimeLineChart(feedDataRow){
		if(!feedDataRow){
			  return;
		}
		
		var dataTable = getDataTable(feedDataRow);
		
		//set fixed colors
		var colors = [];
		var colorMap = {
					        'CONFIRMED': '#008000',
					        'PENDING'  : '#6699cc',
					        'CANCELLED': '#FFA500',
					        'ERROR':'#ff5349',
					        'COMPLETE':'#008000'
					    };
		
		for (var i = 0; i < dataTable.getNumberOfRows(); i++) {      
			  colors.push(colorMap[dataTable.getValue(i, 7)]);
		}
		
		var control = new google.visualization.ControlWrapper(
				{
					'controlType': 'ChartRangeFilter',
					'containerId': 'control_div',
					'options': {
		   							'backgroundColor': '#ffd',
		   							'filterColumnIndex': 5,
		   							'ui': {
			          						'chartType': 'LineChart',
			        						'chartOptions': {
			                                	'height': 60,
		   									 },
		       								'chartView':{
		           								'columns': [5, 6]
		       								},
		       								'chartArea': {
		       			                        'width': '80%'
		       			                    }
									}
					}
				});
		
		var chartWrapper = new google.visualization.ChartWrapper(
 				{
					'chartType': 'Timeline',
       				'containerId': 'chart_div',
       				'options': {
       								'backgroundColor': '#ffd',                					
                 					// This line makes the entire category's tooltip active.
 		    						'focusTarget': 'category',
 		    	    				// Use an HTML tooltip.
     	    	    				'tooltip': { isHtml: true },
     	    	    				'axisTitlesPosition': 'out',
     	    	    				'chartArea': {
     	    	                        'width': '80%'
     	    	                    },
     	    	                    'colors': colors,
     	    	                  	'avoidOverlappingGridLines': true
								/*  ,timeline: { singleColor: '#6190d0' } */ //To make bars single color.
     	    	    			/*	,timeline: { showBarLabels: false}    */ //To hide bar labels.
								},
       				'view': {
       					'columns': [0, 7, 2, 5, 6]
   					}
				});
		
		  // add legend marker
		  function addLegendMarker(markerProps) {
		    var legendMarker = document.getElementById('template-legend-marker').innerHTML;
		    for (var handle in markerProps) {
		      if (markerProps.hasOwnProperty(handle)) {
		        legendMarker = legendMarker.replace('{{' + handle + '}}', markerProps[handle]);
		      }
		    }
		    document.getElementById('legend_div').insertAdjacentHTML('beforeEnd', legendMarker);
		  }
		
	 	// Add our selection handler.
	 	google.visualization.events.addListener(chartWrapper , 'ready', function(){
	 	    var legend = document.getElementById('legend_div');
	 	    var dataTable = chartWrapper.getDataTable();
			//set fixed colors
			var colors = [];
			var colorMap = new Map();
			colorMap.set('CONFIRMED','#008000');
			colorMap.set('PENDING','#6699cc');
			colorMap.set('CANCELLED','#FFA500');
			colorMap.set('ERROR','#ff5349');
			colorMap.set('COMPLETE','#008000');
			console.log(dataTable.toJSON());
			for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
				colors.push(colorMap.get(dataTable.getValue(i, 7)));
			}
			chartWrapper.setOption('colors', colors);
			
	 	    // clear previous legend
	 	    legend.innerHTML = '';

	 	    colorMap.forEach(function(value, key) {
		 	      var markerProps = {};
		 	      markerProps.index = i;
		 	      markerProps.color = value;
		 	      markerProps.label = key;
		 	      addLegendMarker(markerProps);
			})
	 	    
		    google.visualization.events.addListener(chartWrapper ,'select', function() {
				selectHandler(chartWrapper);
			});
		});
	 	
	  	google.visualization.events.addListener(control, 'statechange', function () {
	        var v = control.getState();
	        document.getElementById('dbgchart').innerHTML = 
	        	"Chart Range: " + ("0" + v.range.start.getHours()).slice(-2) + 
	        	":" + ("0" + v.range.start.getMinutes()).slice(-2) + 
	        	":" + ("0" + v.range.start.getSeconds()).slice(-2) + 
	        	' to ' + ("0" + v.range.end.getHours()).slice(-2) + 
	        	":" + ("0" + v.range.end.getMinutes()).slice(-2) + 
	        	":" + ("0" + v.range.end.getSeconds()).slice(-2);
	        return 0;
	    });
	  	
		var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard_div'));
	    dashboard.bind(control, chartWrapper);
	    dashboard.draw(dataTable);
	}

  // Callback that creates and populates a data table, instantiates the timeline chart, passes in the data and
  // draws it.
  function getDataTable(feedDataRow) {
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn({ type: 'string', id: 'Position' });  //0
    dataTable.addColumn({ type: 'string', id: 'Name' }); //1
    dataTable.addColumn({ type: 'string', role: 'tooltip' }); //2
    dataTable.addColumn({ type: 'string', id: 'windowStartTime' }); //3
    dataTable.addColumn({ type: 'string', id: 'windowEndTime' });  //4
    dataTable.addColumn({ type: 'date', id: 'Start' }); //5
    dataTable.addColumn({ type: 'date', id: 'End' }); //6
    dataTable.addColumn({ type: 'string', id: 'status' }); //7
    dataTable.addColumn({ type: 'string', id: 'restrictedZips' }); //8
    dataTable.addColumn({ type: 'string', id: 'restrictedDevices' }); //9
    dataTable.addColumn({ type: 'string', id: 'executionType' }); //10
    dataTable.addColumn({ type: 'string', id: 'altConId' });	//11
	dataTable.addColumn({ type: 'string', id: 'latlongJson'});  //12
    
    var arr = [];
    
    if(feedDataRow != null){
 	   var altConDataLocal = feedDataRow.feedData.altConData;
       for(i = 0; i < altConDataLocal.length; i++){
	   		// get restricted zipcode information.
	    	var restrictedZipcodes = "";
	       	var restrictedZipcodeObjects = altConDataLocal[i].restrictedZips;
	       	for(j=0; j< restrictedZipcodeObjects.length; j++){
	       		restrictedZipcodes += restrictedZipcodeObjects[j].zipCode;
	       		if(j!= restrictedZipcodeObjects.length-1){
	       			restrictedZipcodes += ", ";
	       		}
	       	}
	       	
	       	//get restricted devices information
	       	var restrictedDevices = "";
	       	var restrictedDeviceObjects = altConDataLocal[i].restrictedDevices;
	       	for(j=0; j< restrictedDeviceObjects.length; j++){
	       		restrictedDevices += restrictedDeviceObjects[j];
	       		if(j!= restrictedDeviceObjects.length-1){
	       			restrictedDevices += ",";
	       		}
	       	}
       	
	       	var programName = altConDataLocal[i].programName;
	       	for(k =0; k< altConDataLocal[i].streamConditioningStatus.length; k++){
	       		var streamConditioningStatusDetails = altConDataLocal[i].streamConditioningStatus[k];
	       		var eventStartSignalTimeArr = streamConditioningStatusDetails.eventStartSignalTime.split(" ")[1].split(":");;
		      	var eventEndSignalTimeArr = streamConditioningStatusDetails.eventEndSignalTime.split(" ")[1].split(":");;
		      	var status = streamConditioningStatusDetails.status;
		      	var executionType = streamConditioningStatusDetails.executionType;
		      	arr.push([
		      		'Alternate Content', //0
		      		'', //1
		      		createCustomHTMLContentProg(programName, streamConditioningStatusDetails.eventStartSignalTime, streamConditioningStatusDetails.eventEndSignalTime, status),//2
		      		streamConditioningStatusDetails.eventStartSignalTime, //3
		      		streamConditioningStatusDetails.eventEndSignalTime, //4
		      		new Date(0, 0, 0, eventStartSignalTimeArr[0], eventStartSignalTimeArr[1], eventStartSignalTimeArr[2]),//5
		      		new Date(0, 0, 0, eventEndSignalTimeArr[0], eventEndSignalTimeArr[1], eventEndSignalTimeArr[2]),//6
		      		status, //7
		      		restrictedZipcodes,//8 
		      		restrictedDevices, //9
		      		executionType,//10
		      		'https://www.'+feedDataRow.feedName.toLowerCase()+'.com/media/'+programName,//11 
		      		JSON.stringify(restrictedZipcodeObjects)//12
		      		]);
	       	}
      } 
        
      var zoneBreakDataLocal = feedDataRow.feedData.zonedBreakData;
      for (i = 0; i < zoneBreakDataLocal.length; i++) {
      	var zoneLocal = zoneBreakDataLocal[i].zoneId;
      	var zoneBreakDataItr = zoneBreakDataLocal[i].breakData;
	  	for (j = 0; j < zoneBreakDataItr.length; j++) {    		 
   			var startHourMinutSecArr = zoneBreakDataItr[j].windowStartTime.split(" ")[1].split(":");
   			var endHourMinutSecArr = zoneBreakDataItr[j].windowEndTime.split(" ")[1].split(":");    			
 		 	arr.push([ 
 		 		'CCMS AdZone('+zoneLocal+")" , //0
 		 		"", //1
 		 		createCustomHTMLContentProg1WithArg(zoneBreakDataItr[j].windowStartTime, zoneBreakDataItr[j].windowEndTime,zoneBreakDataItr[j].breakStatus, zoneBreakDataItr[j].spotId),//2
 		 		zoneBreakDataItr[j].windowStartTime, //3
 		 		zoneBreakDataItr[j].windowEndTime,//4
 		 		new Date(0, 0, 0, startHourMinutSecArr[0], startHourMinutSecArr[1],startHourMinutSecArr[2]),//5
 		 		new Date(0, 0, 0, endHourMinutSecArr[0], endHourMinutSecArr[1],endHourMinutSecArr[2]),//6
 		 		zoneBreakDataItr[j].breakStatus, //7
 		 		null,//8 
 		 		null,//9
 		 		null,//10 
 		 		zoneBreakDataItr[j].spotId,//11  
 		 		null//12
 		 		]);
	   	}
   	  }
      dataTable.addRows(arr);
    }
    
	return dataTable;
  }
  

  function selectHandler(chartWrapper) {
	var chart = chartWrapper.getChart();
	var dataTable = chartWrapper.getDataTable();
	var ccmsAdZone=	dataTable.getValue(chart.getSelection()[0].row, 0);
	if(ccmsAdZone.indexOf("CCMS")!=-1){
		var spotId = dataTable.getValue(chart.getSelection()[0].row, 11);
		var status =	dataTable.getValue(chart.getSelection()[0].row, 2);
		var windowStartTime=	dataTable.getValue(chart.getSelection()[0].row, 3);;
		var windowEndTime=	dataTable.getValue(chart.getSelection()[0].row, 4);
		var status=	dataTable.getValue(chart.getSelection()[0].row, 7);
		
		var divShowData = document.getElementById('streamConditioningData');
		divShowData.innerHTML = "";
		// the json data.
   		var feedDetails = [
           {'Schedule Type': 'CCMS', 'Spot ID': spotId, 'Window Start': windowStartTime,
               'Window End': windowEndTime, 'Status': status
           }           
       ]
		
   		document.getElementById('altConId').innerHTML="";
		document.getElementById('restrictedDevices').innerHTML="";
		document.getElementById('restrictedZips').innerHTML="";
		
		divShowData.appendChild(tableFromJson(feedDetails));
   		var chart = document.getElementById('restrictedZipsGeoChart');
   		chart.style.display = "none";

	}else{
		//Blackout
		var eventStartSignalTime = dataTable.getValue(chart.getSelection()[0].row, 3);
		var eventEndSignalTime = dataTable.getValue(chart.getSelection()[0].row, 4);
		var status = dataTable.getValue(chart.getSelection()[0].row, 7);
		var restrictedZipcodes = dataTable.getValue(chart.getSelection()[0].row, 8);
		var restrictedDevicesData = dataTable.getValue(chart.getSelection()[0].row, 9).split(",");
		var executionType = dataTable.getValue(chart.getSelection()[0].row, 10);
		var altConIdProgramName = dataTable.getValue(chart.getSelection()[0].row, 11);
		var latlongMappings = dataTable.getValue(chart.getSelection()[0].row, 12);
		
		// Get restricted devices for selected altConData
		var onClickHTMLRestrictedDevices="<b>Restricted Devices: </b>";
		var i;
		for (i = 0; i < restrictedDevicesData.length; i++) {
			onClickHTMLRestrictedDevices += "<img src='images/" + restrictedDevicesData[i].toLowerCase() + ".png' width='50' height='50' title='" + restrictedDevicesData[i] + "'>";
		}
		
		// Get restricted zipcodes for selected altConData
		var onClickHTMLRestrictedZips="<b>Restricted Zips: </b>" + restrictedZipcodes;
		
		var onClickHTMLAltConId="<b>Altcon ID: </b>" + altConIdProgramName;
		document.getElementById('altConId').innerHTML=onClickHTMLAltConId;
		document.getElementById('restrictedDevices').innerHTML=onClickHTMLRestrictedDevices;
		document.getElementById('restrictedZips').innerHTML=onClickHTMLRestrictedZips;
		
		// the json data.
		var feedDetails = [
           {'Platform Type': executionType, 'Event Signal Start Time': eventStartSignalTime, 'Event Signal End Time': eventEndSignalTime, 'Status': status}           
      	]
	    var divShowData = document.getElementById('streamConditioningData');
	    divShowData.innerHTML = "";
	    divShowData.appendChild(tableFromJson(feedDetails));
	    var chart = document.getElementById('restrictedZipsGeoChart');
   		chart.style.display = "block";
	}

    google.charts.load('current', {
	    'packages': ['geochart'],
	    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
	 });
	 google.charts.setOnLoadCallback(function() { drawMarkersMap(latlongMappings); });
  }
  
  function drawMarkersMap(latlongMappings) {
	  var result = [];
	  var latlongMappings = JSON.parse(latlongMappings);
	  if(latlongMappings.length>0){
		  result.push(["Latitude","Longitude","Zip Code"]);
	  }
	  for (j = 0; j < latlongMappings.length; j++) {    
			result.push([latlongMappings[j].zipLatitude, latlongMappings[j].zipLongitude, latlongMappings[j].zipCode]);	  			
	  }
	  
      var data = google.visualization.arrayToDataTable(result);

      var options = {
        region: 'US',
        displayMode: 'Markers',
		resolution: 'metros',
		enableRegionInteractivity: true,
        colorAxis: {colors: ['green', 'blue']},
        backgroundColor: '#81d4fa',
        datalessRegionColor: '#ffffff',
		tooltip: {textStyle: {color: '#FF0000'}, showColorCode: true}
      };

      var chart = new google.visualization.GeoChart(document.getElementById('restrictedZipsGeoChart'));
      chart.draw(data, options);
    };
  
    function createCustomHTMLContentProg1WithArg(startTime, stopTime, status, spotId) {
    	  return '<div style="white-space: nowrap;">' +
    	            '<div><b>Ad Spot Id:</b> '+spotId+'</div>' + 
          			'<div><b>Window Start Time:</b> '+startTime+'</div>' + 
          			'<div><b>Window End Time   :</b> '+stopTime+'</div>' + 
          			'<div><b>Status        :</b> '+status+'</div>' + 
    	      	'</div>';
      }
  function createCustomHTMLContentProg( programName, eventStartSignalTime, eventEndSignalTime, status) {
	  return '<div style="white-space: nowrap;">' +
	  			'<div><b>Program Name:</b>'+ programName+'</div>' + 
      			'<div><b>Effective Time:</b>'+ eventStartSignalTime+'</div>' + 
      			'<div><b>Expire Time   :</b>'+ eventEndSignalTime +'</div>' + 
      			'<div><b>Status        :</b>'+ status +'</div>' + 
	      	'</div>';
  }
  
 function tableFromJson(feedDetails) {
	  // Extract value from table header. 
      var col = [];
      for (var i = 0; i < feedDetails.length; i++) {
          for (var key in feedDetails[i]) {
              if (col.indexOf(key) === -1) {
                  col.push(key);
              }
          }
      }

      // Create a table.
      var table = document.createElement("table");
      table.setAttribute("border", "2");

      // Create table header row using the extracted headers above.
      var tr = table.insertRow(-1);                   // table row.

      for (var i = 0; i < col.length; i++) {
          var th = document.createElement("th");      // table header.
          th.innerHTML = col[i];
          tr.appendChild(th);
      }

      // add json data to the table as rows.
      for (var i = 0; i < feedDetails.length; i++) {

          tr = table.insertRow(-1);

          for (var j = 0; j < col.length; j++) {
              var tabCell = tr.insertCell(-1);
              tabCell.innerHTML = feedDetails[i][col[j]];
          }
      }
	return table;     
   }
</script>
</head>

<body onload="loadFeedAndDateFields()">
	<!--  Logo and Title -->
	<div id="header"
		style="background-color: black; color: white; padding: 20px; padding-top:10px; padding-bottom: 10px;">
		<img src="images/CadentLogo1.svg" />
	</div>

	<div id="title"
		style="background-image: linear-gradient(black, darkgray);; color: white; font-weight: bold;; font-size: 24px; padding: 20px; padding-top:10px; padding-bottom: 10px;">Alternate
		Contents & Ad Breaks</div>

	<div id="content" style="margin: auto;padding: 20px; background-color: white;width: 96%; height: 100%;">
	<!--Div that will hold the pie chart-->
	<div id="filters">
		<table width="50%">
			<tr>
				<th>Feed: <select name="feed_id" id="feed_id"
					onchange="processFeedSelection()">
						<option value="-select-">-Select-</option>
				</select>
				</th>
				<th style="align-content: left">Date: <input type="date"
					id="bulletin_date" name="bulletin_date"
					onchange="processDateSelection()" />
				</th>
				<th><div id='dbgchart'></div></th>
			</tr>
		</table>
	</div>
		<div id="dashboard_div">
	    	<div id="chart_div"></div>
	    	<div id="legend_div"></div>
	        <div id="control_div"></div>
	    </div> 

	<table width="100%">
		<tr>
			<td width="30%" valign="top">
				<table>
					<tr>
						<td align="left">
							<div id="altConId"></div>
						<td>
					</tr>
					<tr>
						<td align="left">
							<div id="restrictedDevices"></div>
						<td>
					</tr>
					<tr>
						<td align="left">
							<div id="restrictedZips"></div>
						</td>
					</tr>
					<tr>
						<td align="left">
							<div id="streamConditioningData"></div>
						</td>
					</tr>
				</table>
			</td>
			<td width="70%">
				<table width="95%">
					<tr>
						<td rowspan="4">
							<div id="restrictedZipsGeoChart"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	
<!-- template for building marker -->
<script id="template-legend-marker" type="text/html">
  <div class="legend-marker" data-columnIndex="{{index}}">
    <div class="legend-marker-color" style="background-color: {{color}}"></div>
    <span>{{label}}</span>
  </div>
</script>
</body>

</html>